/*!CK:3170318485!*//*1453259721,*/

._58yp{line-height:18px}._58yp .uiIconText .img{margin-top:2px}
.uiTypeaheadView .compact img._492o{float:right;height:24px;margin:3px 3px 0 0;position:relative;width:24px}._531g{display:block;height:32px;left:6px;position:absolute;width:32px}

#bootloader_seAgP{height:42px;}.bootloader_seAgP{display:block!important;}